<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
    <h2>Person: <%= ID %> </h2>
    <h3>Querystrintg Value: <%= Qstr %></h3>
  </body>
</html>
